body {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.text-link {
    color: #fff;
}

.content {
    padding: 20px;
    text-align: center;
}
